@media (max-width: 500px) {
  .tab-content .container {
    max-width: 100%;
  }
  .experience {
    margin: 2rem 0;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .skills-container {
    margin: 1rem 0;
  }
  .skills-container .skills .name {
    width: 70px;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .hide-sm {
    display: none;
  }
  .tab-content .container {
    max-width: 100%;
  }
  .experience {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
  .skills-container .skills .name {
    width: 80px;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .experience {
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
}
